.about-container {
    position: relative;
    text-align: center;
  }
  
  .statement {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensures the statement is above the image */
  }
  
  .image {
    width: 100%;
    height: 600px;
  }
  .cta-button {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    background-color:#FDDE55
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  