.circle {
    background-color: #FDDE55;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 20px; /* Add margin to both sides for equal spacing */
    text-align: center;
    font-weight: 700;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .medium {
    width: 150px;
    height: 150px;
  }
  
  .small {
    width: 100px;
    height: 100px;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .my-4 {
    margin: 1.5rem 0; /* You can adjust this as needed */
  }
  