.course-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: white; /* Change arrow color */
  }
  
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  
  .slick-prev {
    left: -35px; /* Adjust position */
  }
  
  .slick-next {
    right: -35px; /* Adjust position */
  }
  